body { font-family: Arial, Helvetica, sans-serif; margin: 0; }
.header {
  background: #BD0021; 
  position: relative; 
  width: 100%; 
  height: 130px;
}
.logo1 { position: absolute; }
.logo2 { position: absolute; right: 0;}
.logo_name1 { 
  position: absolute; 
  top: 20px; 
  left: 220px; 
  width: 550px; 
  height: 80px;
  color: #FFFF00;
  font-style: italic;
  font-size: 40pt;
  font-weight: bold;
  text-align: left;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.9);
}
.logo_name2 { 
  position: absolute; 
  top: 100px; 
  left: 220px; 
  width: 550px; 
  height: 20px;
  color: #FFFF00;
  font-style: italic;
  font-size: 12pt;
  font-weight: bold;
  text-align: right;
}
.logo_name3 { 
  position: absolute; 
  top: 10px;
  right: 140px;
  width: 180px; 
  height: 20px;
  color: #FFFF00;
  font-style: italic;
  font-size: 0.7em;
  font-weight: bold;
  text-align: left;
}
.pravda { 
  position: absolute; 
  top: 100px;
  right: 140px;
  width: 170px; 
  height: 20px;
  color: #FFFFFF;
  font-style: italic;
  font-size: 0.7em;
  font-weight: bold;
  text-align: right;
}
A.pravdalink {text-decoration: none;}
A.pravdalink:hover {text-decoration: underline;}


.footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #BD0021; /* Цвет фона */
  color: #FFFF00; /* Цвет текста */
  width: 100%; /* Ширина слоя */
  font-size: 1em;
  text-align: center;
}
.layout { overflow: hidden; }
.col1 {
  float: left;
  width: 190px;
  border: 2px solid #EFEFEF;
  padding: 5px;
  margin: 10px 10px 20px 5px;
}
.col1 div {
  padding: 2px;
}
.col1 a { 
  display: block; /* Отображать ссылку как блок */
  padding: 2px; /* Поля вокруг ссылок */
  margin: 1px; /* Отступы вокруг */
  font-size: 0.9em; /* Размер текста */
  text-decoration: none; /* Убираем подчеркивание текста */
}
.col1 a:hover { 
  background: #BD0021; /* #faf3d2 Цвет фона */
  color: #FFFF00;
  border: 1px dashed #634f36; /* Добавление пунктирной рамки */
  margin: 0; /* Убираем поля */
}
.line {
  border-bottom: 1px groove #333; /* Линия между ссылками */
}

.col2 {
  margin: 10px 145px 0 210px; /* Отступ справа и слева */ 
  border: 0px solid #0F0;
}
.post {
  margin: 10px 5px 0 10px; /* Значения отступов */
  padding: 5px 5px 30px 5px; /* Поля вокруг текста */
  border: 3px solid #EFEFEF; /* Параметры рамки */
  position: relative;
}
.post_header {
  padding: 0px 0px 10px 0px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.post_text {
  font-size: 1em;
  font-weight: normal;
  text-align: justify;
}
.post_link {
  font-size: 1em;
  margin: 5px 0px 0px 10px;
  position: absolute;
  left: 0;
  bottom: 0
}
.post_link a {
  display: block;
  text-decoration: none;
}
.post_link a:hover {
  background: #BD0021; /* #faf3d2 Цвет фона */
  color: #FFFF00;
  border: 1px dashed #634f36; /* Добавление пунктирной рамки */
  margin: 0; /* Убираем поля */
}

.post_auvtor {
  font-size: 0.7em;
  margin: 5px 10px 0px 0px;
  position: absolute;
  right: 0;
  bottom: 0
}
.post_auvtor a {
  text-decoration: none;
  padding: 0px 10px 0px 0px;
  font-weight: bold;
}
.post_auvtor a:hover {
  background: #BD0021; /* #faf3d2 Цвет фона */
  color: #FFFF00;
  border: 1px dashed #634f36; /* Добавление пунктирной рамки */
  margin: 0; /* Убираем поля */
}

.col3 { 
  float: right; 
  width: 140px; 
  border: 0px solid #0F0; 
  padding: 2px; 
  margin: 0px 0px 0px 0px;
}
.col3 div {
  margin: 5px 0px 0px 0px;
  border: 2px solid #EFEFEF;
  height: 70px;
  line-height: 1;
  overflow: hidden;
}
.col3 a{
  display: block; /* Отображать ссылку как блок */
  font-size: 0.6em; /* Размер текста */
  text-decoration: none; /* Убираем подчеркивание текста */
}
.col3 a:hover { 
  background: #BD0021; /* #faf3d2 Цвет фона */
  color: #FFFF00;
  border: 1px dashed #634f36; /* Добавление пунктирной рамки */
  margin: 0; /* Убираем поля */
}
.col3 h6 {
  margin: 0;
  text-align: center;
}

.login_form {
  position: absolute;
  bottom: 0;
}