<div class="post">
<h1>Об авторе</h1>
<p>
  <%= image_tag @user.avatar.url %>
</p>
<p>
  <%= @user.fio %>
</p>
<p>
  <%= @user.characterization.html_safe unless @user.characterization.nil? %>
</p>

</div>

