<% content_for :right_col do %>
<%= render 'layouts/right_col' %>
<% end %>

<div class="post">
  <div class="post_header">избирательного объединения</div>
  <div class="post_text">
    МУНИЦИПАЛЬНЫЙ СПИСОК КАНДИДАТОВ в депутаты Совета муниципального образования Тихорецкий район шестого созыва
    избирательного объединения Тихорецкого районного отделения Краснодарского краевого отделения политической партии «Коммунистическая партия Российской Федерации (решение от 18.07.2013 г.)
  </div>
  <div class="post_link">
    <a href="candidats.html" title="дави сюда">
      читать дальше -->>
    </a>
  </div>
  <div class="post_auvtor">
    <a href="#">что говорят люди?</a> ,
    рубрика: <a href="#">новости</a>, 
    автор:
    <a href="candidats.html" title="дави сюда">
      Бекмамбетов А.А.
    </a>
    дата выпуска: <a href="#">17.09.2013</a>
  </div>
</div>

<div class="post">
  <div class="post_header">избирательного объединения</div>
  <div class="post_text">
    МУНИЦИПАЛЬНЫЙ СПИСОК КАНДИДАТОВ в депутаты Совета муниципального образования Тихорецкий район шестого созыва
    избирательного объединения Тихорецкого районного отделения Краснодарского краевого отделения политической партии «Коммунистическая партия Российской Федерации (решение от 18.07.2013 г.)
  </div>
  <div class="post_link">
    <a href="candidats.html" title="дави сюда">
      читать дальше -->>
    </a>
  </div>
  <div class="post_auvtor">
    <a href="#">что говорят люди?</a> ,
    рубрика: <a href="#">новости</a>, 
    автор:
    <a href="candidats.html" title="дави сюда">
      Бекмамбетов А.А.
    </a>
    дата выпуска: <a href="#">17.09.2013</a>
  </div>
</div>

<div class="post">
  <div class="post_header">избирательного объединения</div>
  <div class="post_text">
    МУНИЦИПАЛЬНЫЙ СПИСОК КАНДИДАТОВ в депутаты Совета муниципального образования Тихорецкий район шестого созыва
    избирательного объединения Тихорецкого районного отделения Краснодарского краевого отделения политической партии «Коммунистическая партия Российской Федерации (решение от 18.07.2013 г.)
  </div>
  <div class="post_link">
    <a href="candidats.html" title="дави сюда">
      читать дальше -->>
    </a>
  </div>
  <div class="post_auvtor">
    <a href="#">что говорят люди?</a> ,
    рубрика: <a href="#">новости</a>, 
    автор:
    <a href="candidats.html" title="дави сюда">
      Бекмамбетов А.А.
    </a>
    дата выпуска: <a href="#">17.09.2013</a>
  </div>
</div>

<div class="post">
  <div class="post_header">избирательного объединения</div>
  <div class="post_text">
    МУНИЦИПАЛЬНЫЙ СПИСОК КАНДИДАТОВ в депутаты Совета муниципального образования Тихорецкий район шестого созыва
    избирательного объединения Тихорецкого районного отделения Краснодарского краевого отделения политической партии «Коммунистическая партия Российской Федерации (решение от 18.07.2013 г.)
  </div>
  <div class="post_link">
    <a href="candidats.html" title="дави сюда">
      читать дальше -->>
    </a>
  </div>
  <div class="post_auvtor">
    <a href="#">что говорят люди?</a> ,
    рубрика: <a href="#">новости</a>, 
    автор:
    <a href="candidats.html" title="дави сюда">
      Бекмамбетов А.А.
    </a>
    дата выпуска: <a href="#">17.09.2013</a>
  </div>
</div>

<div class="post">
  <div class="post_header">избирательного объединения</div>
  <div class="post_text">
    МУНИЦИПАЛЬНЫЙ СПИСОК КАНДИДАТОВ в депутаты Совета муниципального образования Тихорецкий район шестого созыва
    избирательного объединения Тихорецкого районного отделения Краснодарского краевого отделения политической партии «Коммунистическая партия Российской Федерации (решение от 18.07.2013 г.)
  </div>
  <div class="post_link">
    <a href="candidats.html" title="дави сюда">
      читать дальше -->>
    </a>
  </div>
  <div class="post_auvtor">
    <a href="#">что говорят люди?</a> ,
    рубрика: <a href="#">новости</a>, 
    автор:
    <a href="candidats.html" title="дави сюда">
      Бекмамбетов А.А.
    </a>
    дата выпуска: <a href="#">17.09.2013</a>
  </div>
</div>

<div class="post">
  <div class="post_header">избирательного объединения</div>
  <div class="post_text">
    МУНИЦИПАЛЬНЫЙ СПИСОК КАНДИДАТОВ в депутаты Совета муниципального образования Тихорецкий район шестого созыва
    избирательного объединения Тихорецкого районного отделения Краснодарского краевого отделения политической партии «Коммунистическая партия Российской Федерации (решение от 18.07.2013 г.)
  </div>
  <div class="post_link">
    <a href="candidats.html" title="дави сюда">
      читать дальше -->>
    </a>
  </div>
  <div class="post_auvtor">
    <a href="#">что говорят люди?</a> ,
    рубрика: <a href="#">новости</a>, 
    автор:
    <a href="candidats.html" title="дави сюда">
      Бекмамбетов А.А.
    </a>
    дата выпуска: <a href="#">17.09.2013</a>
  </div>
</div>

<div class="post">
  <div class="post_header">избирательного объединения</div>
  <div class="post_text">
    МУНИЦИПАЛЬНЫЙ СПИСОК КАНДИДАТОВ в депутаты Совета муниципального образования Тихорецкий район шестого созыва
    избирательного объединения Тихорецкого районного отделения Краснодарского краевого отделения политической партии «Коммунистическая партия Российской Федерации (решение от 18.07.2013 г.)
  </div>
  <div class="post_link">
    <a href="candidats.html" title="дави сюда">
      читать дальше -->>
    </a>
  </div>
  <div class="post_auvtor">
    <a href="#">что говорят люди?</a> ,
    рубрика: <a href="#">новости</a>, 
    автор:
    <a href="candidats.html" title="дави сюда">
      Бекмамбетов А.А.
    </a>
    дата выпуска: <a href="#">17.09.2013</a>
  </div>
</div>