<div id="menu">
  <div><a href="/">Главная страница</a></div>
  <div><a href="candidats.html">Кандидаты в депутаты</a></div>
  <div><a href="#">Интересные статьи</a></div>
  <div class="line"></div>
  <div id="user_nav">
	  <% if current_user %>
		  <%= link_to "Пользователи", users_path %>
	    <%= link_to "Выход", logout_path %>
	  <% else %>
	    <%= link_to "Вход для членов партии", login_path %>
	  <% end %>
	</div>
</div>