<% [:notice, :error, :success, :alert].each do |key| %>
  <% unless flash[key].blank? %>
  	<div class="post">
	    <p class="<%= key %>">
	      <%= flash[key] %>
	    </p>
	  </div>
  <% end%>
<% end %>
