<div class="col3">
  <div>
    <h6>bashorg.org</h6>
    <a href="http://bashorg.org/quote/40253" title="дави сюда">
      Работаю в отеле. Приехали иностранцы, поселились. Вышли по делам, по возвращении ломятся не в ту дверь и не понимают в чём же дело. И тут из-за угла я с фразой: "You shall not pass!"
    </a>
  </div>
  <div>
    <h6>bashorg.org</h6>
    <a href="http://bashorg.org/quote/40253" title="дави сюда">
      Скоро должен появиться новый тренд - гостиницы БЕЗ телевизора и Интернета (хорошо бы ещё и без электричества в номерах). Я буду специально выбирать такие, чтобы мои будущие дети, да и я сам, отрывались от экранов на время отдыха.
    </a>
  </div>
  <div>
    <h6>bashorg.org</h6>
    <a href="http://bashorg.org/quote/40253" title="дави сюда">
      Анатом-задрот во мне проснулся и сочиняет разоблачительную песню про хентай с припевом "нет, не начинаются сиськи от ключиц"
    </a>
  </div>
</div>